// ************** ANIMATION LOADER ************
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

// ************** ANIMATION LOADER ************
@-webkit-keyframes vanish {
  0% {
    opacity: 100%;
    z-index: 10;
  }
  90% {
    opacity: 100%;
    z-index: 10;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}

@keyframes vanish {
  0% {
    opacity: 100%;
    z-index: 10;
  }
  90% {
    opacity: 100%;
    z-index: 10;
  }
  100% {
    opacity: 0%;
    z-index: -10;
  }
}

// ************** ANIMATION APPARITION MENU ************
@keyframes appear {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay1 {
  opacity: 0;
}

.delay2 {
  opacity: 0;
  animation-delay: 0.35s;
}

.delay3 {
  opacity: 0;
  animation-delay: 0.7s;
}

// ************* ANIMATION VALIDATION **************
@keyframes roll {
  0% {
    transform: rotate(-360deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes translate {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-70px);
  }
}
